<nav class="navbar navbar-expand-sm bg-dark navbar-dark mb-4">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">VideoPlayer</a>
    </div>
    <ul class="navbar-nav">
      <li><a [routerLink]="[ '/home' ]" routerLinkActive="active" class="nav-link mx-3 ">Home</a></li>
      <li><a [routerLink]="[ '/videos' ]" routerLinkActive="active" class="nav-link mx-3 mr-5">Playlist</a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid px-5">
    <router-outlet></router-outlet>
</div>
